/*****************************************************************************/
/*
/* ENRIQUE'S CUSTOM CSS
/* For Brian Mikulencak Business Transactions and Tax Attorney Website
/*
/*****************************************************************************/
/* - BASE - */

header {
  clear: both;
  padding: 1.5em 0 1.5em 0;
}

label {
  font-size: 1.2em;
}

nav {
  float: right;
}

h2 {
  font-size: 1.375em;
  margin-bottom: 0;
}

p {
  font-size: 1.1em;
}

a {
  letter-spacing: .085rem;
}

/* - LAYOUT - */
#bottom {
  background-color: #fff;
  padding-top: 3em;
}

#menu {
  background-color: #fff;
}

#middle {
  background-color: #fff;
  margin: 0;
  padding-top: 1em;
}

#top {
  background-color: #333;
}

/* - MODULES - */
.hide {
  display: none;
}

.blog-posts li:first-child {
  padding: 1em;
}

.blog-posts li + li {
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding: 1em;
}

.post__date {
  color:  hsla(0, 0%, 20%, 1);
  font-size: .85rem;
  font-weight: bold;
  letter-spacing: .085rem;
  padding: .25rem 0;
  margin-bottom: .25rem;

}

.copyright {
  font-size: .85rem;
  position: relative;
  bottom: -8em;
}

.list-none {
  list-style: none;
}

.nav-global {
  margin-top: 0;
}

.nav-item {
  display: inline-block;
  font-size: 1em;
  letter-spacing: .175em;
  margin: 1em 1em 0 0;
  padding: .5em;
  text-transform: uppercase;
  border-bottom: 4px solid #fff;
}

.nav-item.active {
  border-bottom: 4px solid red;
}

.nav-item:hover {
  border-bottom: 4px solid red;
}

.practice__area__description {
  font-size: .95rem;
}

.practice__area__items {
  list-style: none;
  margin: 1.25rem 0;
}

.practice__area__item {
  padding: .75rem;
  margin: 0;
}

.practice__area__item:nth-child(odd) {
  background: hsla(0, 0%, 87%, .45);
}


.page_number {
  display: inline-block;
  margin: 0 2em 0 2em;
}

.philosophy, .experience {
  font-size: 1.6875rem;
}

.post-title, .practice, .publication__title, .thanks {
  font-size: 1.6875em;
}

.post__excerpt > a {
  letter-spacing: initial;
}

.post__excerpt > br {
  display: block;
  line-height: 3rem;
}

.post__excerpt__read-more {
  background: hsla(0, 0%, 20%, 1);
  border-radius: .25rem;
  margin: 1rem 0;
  width: 10rem;
}

.post__excerpt__read-more > a {
  display: block;
  padding: .5rem;
  text-align: center;
  width: 100%;
}

.post__excerpt__read-more:hover {
  background: hsla(0, 0%, 0%, 1);
}

.post__excerpt__read-more > a:hover {
  color: #008CBA;
}

.post__content > p {
  width: 75ex;
}

.blog__pagination {
  text-align: center;
  padding: 2rem;
}

.publication {
  border-bottom: 1px solid #eee;
  padding-bottom: 1rem;
  margin-bottom: 1.25rem;
}

.publication__title, .post-title {
  width: 55ex;
}

.publication__excerpt, .post__excerpt {
  margin: 0 0 0 1rem;
  width: 75ex;
}

.publication__link {
  margin-left: 1rem;
}

.site-name {
  color: #333;
  font-family: Georgia, Serif;
  font-weight: 500;
}

.name {
  display: block;
}

.small{
  font-size: .85em;
}

.tagline {
  color: #fff;
  font-size: 1.6875em;
  font-weight: normal;
  line-height: 1.2125em;
}

/* FORMS */

.contact-form {
  margin-bottom: 2rem;
}

/*  COLORS  */
.bg-dark {
  background-color: rgba(51, 51, 51, 0.1)
}

.honeydew {
  color:  HoneyDew;
}

.red {
  color: red;
}

/*  TYPOGRAPHY  */
.is-italic {
  font-style: italic;
}

.large {
  font-size: 1.25em;
}

.capitalize {
  text-transform: capitalize;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.contact-us__agreement {
  font-size: .75em;
}

/* ICONS */

.icon--phone {
  background: hsla(360, 100%, 100%, 1);
  border-radius: 2rem;
  display: inline-block;
  height: 2.5rem;
  padding: .25rem;
  width: 2.5rem;
}

/*  SPACING   */
.space-none {
  margin: 0;
  padding: 0;
}

.space-top {
  margin-top: 5%;
}

/* FOUNDATION OVERRIDES */
/*  FORM */
textarea {
  height: auto;
}

.vcard {
  background: hsla(0, 0%, 90%, 1);
  border: none;
  text-align: center;
  width: 100%;
}

.vcard .fn, .vcard .tel, .vcard .locality {
  font-size: 1.25rem;
}


/* SECTION - ACCORDIONS */
.section-container.accordion {
  border-top: 0;
}

.section-container.accordion>section>.title {
  background-color: #777;
  border: none;
}

.section-container.accordion>section>[data-section-title] a, .section-container.accordion>section>.title a {
  color: #fff;
  font-weight: normal;
  white-space: normal;
}

.section-container.accordion>section>[data-section-title] a:hover, .section-container.accordion>section>.title a:hover {
 background-color: #2795b6;
}

.section-container.accordion>section.active>.title {
  background-color: #2795b6;
}

.section-container.accordion>section.active>.title a {
  color: #fff;
}


/* - MEDIA QUERIES - */


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {

  p {
    font-size: 1rem;
  }

  ul {
    margin-left: 0;
  }

  .site-name {
    font-size: 1.65rem;
  }

  .tagline {
    font-size: 1.2rem;
  }

  .nav-item {
    font-size: .7rem;
    margin: 1rem .25rem 0 0;
    padding: .25rem;
  }

  .philosophy, .experience {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .practice__area__items {
    border-bottom: 2px dotted hsla(0, 0%, 80%, 1);
    padding-bottom: 3rem;
    margin: 1.25rem 0 1.25rem 0;
  }

  .line-break {
    display: block;
  }

  #bottom {
    padding: 0;
  }

  .copyright {
    bottom: -3rem;
    font-size: .7rem;
  }

  .left {
    float: none !important;
    margin: 0 20%;
  }

  .right {
    float:  none !important;
  }

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

  ul {
    margin-left: 0;
  }

  .nav-item {
    font-size: .9rem;
    margin: 1rem .25rem 0 0;
    padding: .25rem;
  }

  .site-name {
    font-size: 2.25rem;
  }

  .tagline {
    font-size: 1.45rem;
  }

  .practice__area__items {
    border-bottom: 2px dotted hsla(0, 0%, 80%, 1);
    padding-bottom: 3rem;
    margin: 1.25rem 0 1.25rem 0;
  }


} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
