/*****************************************************************************/
/*
/* ENRIQUE'S CUSTOM CSS
/* For Brian Mikulencak Business Transactions and Tax Attorney Website
/*
/*****************************************************************************/
/* - BASE - */

header {
  clear: both;
  padding: 1.5em 0 1.5em 0;
}

label {
  font-size: 1.2em;
}

nav {
  float: right;
}

h2 {
  font-size: 1.375em;
  margin-bottom: 0;
}

p {
  font-size: 1.1em;
}

/* - LAYOUT - */
#bottom {
  background-color: #fff;
  padding-top: 3em;
}

#menu {
  background-color: #fff;
}

#middle {
  background-color: #fff;
  margin: 0;
  padding-top: 1em;
}

#top {
  background-color: #333;
}

/* - MODULES - */
.hide {
  display: none;
}

.blog-posts li + li {
  border-top: 2px solid #eee;
}

.copyright {
  position: relative;
  bottom: -4em;
}

.list-inside {
  list-style-position: outside;
  margin-left: 3%;
}

.list-none {
  list-style: none;
}

.nav-global {
  margin-top: 0;
}

.nav-item {
  display: inline-block;
  font-size: 1em;
  letter-spacing: .175em;
  margin: 1em 1em 0 0;
  padding: .5em;
  text-transform: uppercase;
  border-bottom: 4px solid #fff;
}

.nav-item.active {
  border-bottom: 4px solid red;
}

.nav-item:hover {
  border-bottom: 4px solid red;
}

.philosophy, .experience {
  font-size: 2.3125em;
}

.post-title, .practice, .publication, .thanks {
  font-size: 1.6875em;
}

.site-name {
  color: #333;
  font-family: Georgia, Serif;
  margin-bottom: 0;
}

.small{
  font-size: .85em;
}

.tagline {
  color: #fff;
  font-size: 1.6875em;
  font-weight: normal;
  line-height: 1.2125em;
}

/*  COLORS  */
.bg-dark {
  background-color: rgba(51, 51, 51, 0.1)
}

.honeydew {
  color:  HoneyDew;
}

.red {
  color: red;
}

/*  TYPOGRAPHY  */
.is-italic {
  font-style: italic;
}

.large {
  font-size: 1.25em;
}

.uppercase {
  text-transform: uppercase;
}

.contact-us__agreement {
  font-size: .75em;
}

/*  SPACING   */
.space-none {
  margin: 0;
  padding: 0;
}

.space-top {
  margin-top: 5%;
}

/* FOUNDATION OVERRIDES */
/*  FORM */
textarea {
  height: auto;
}

.vcard {
  border: none;
  font-size: 1.25em;
  text-align: right;
  width: 100%;
}


/* SECTION - ACCORDIONS */
.section-container.accordion {
  border-top: 0;
}

.section-container.accordion>section>.title {
  background-color: #777;
  border: none;
}

.section-container.accordion>section>[data-section-title] a, .section-container.accordion>section>.title a {
  color: #fff;
  font-weight: normal;
  white-space: normal;
}

.section-container.accordion>section>[data-section-title] a:hover, .section-container.accordion>section>.title a:hover {
 background-color: #2795b6;
}

.section-container.accordion>section.active>.title {
  background-color: #2795b6;
}

.section-container.accordion>section.active>.title a {
  color: #fff;
}


/* - MEDIA QUERIES - */

/* We use this media query to add styles to any device that supports media queries */
@media only screen { }

/* Used to alter styles for screens at most 768px wide. This is where the grid changes. */
@media all and (max-width: 480px) {}

/* Used to alter styles for screens at least 768px wide. This is where the grid changes. */
@media only screen and (min-width: 768px) {}

/* Used to alter styles for screens at most 768px wide. This is where the grid changes. */
@media only screen and (max-width: 768px) {
  nav {
    float: none;
  }

  .nav-global {
    margin-top: 5%;
  }

  .nav-item {
    display: block;
  }
}

/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {}

/* Apply styles to screens in landscape orientation */
@media only screen and (orientation: landscape) {}

/* Apply styles to screens in portrait orientation */
@media only screen and (orientation: portrait) {}
