---
layout: template-blog
title:  Blog
---

  <div id="middle">
  <div class="row">
    <div class="large-12 columns">
        <ul class="blog-posts list-none">
          {% for post in paginator.posts %}
          <li>
            <article>
              <header class="space-none">
                <p class="is-italic space-none">{{ post.date | date: '%B %d, %Y' }}</p>
                <h1 class="post-title space-none"><a href="{{ post.url }}">{{ post.title }}</a></h1>
              </header>
                <p class="space-none">{{ post.excerpt }}</p>
                <p><a href="{{ post.url }}">Read more &hellip;</a></p>
            </article>
          </li>
          {% endfor %}
        </ul>
        <div class="pagination">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
          {% else %}
            <span class="previous">Previous</span>
          {% endif %}
          <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" class="next">Next</a>
          {% else %}
            <span class="next ">Next</span>
          {% endif %}
        </div>
    </div>
  </div>
</div>
