<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="author" href="humans.txt" />


        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- ZURB Foundation 4 -->
        <link rel="stylesheet" href="/css/foundation.min.css">
        <script src="/js/vendor/custom.modernizr.js"></script>

         <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Fonts-->
        <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

    </head>
    <body>

        <div class="row">
          <div class="large-12 columns">
            <header class="header">
              <h1 class="title"><a class="title-link" href="/index.html">{{ site.name }}</a></h1>
            </header>
             <h2 class="tagline">Business transaction and tax counseling for start-up and growth companies.</h2>
            <nav>
              <ul class="nav-global">
                <li class="nav-item"><a href="/about.html">About</a></li>
                <li class="nav-item"><a href="/publications.html">Publications</a></li>
                <!-- <li class="nav-item"><a href="/blog">Blog</a></li> -->
                <li class="nav-item"><a href="/index.html">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>


          {{ content }}

        <div class="row">
          <div class="large-12 columns">
            <div class="footer">
              <p>&copy; Brian Mikulencak. All rights reserved</p>
            </div>
          </div>
        </div>


  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
  '.js><\/script>')
  </script>

  <script src="/js/foundation.min.js"></script>
  <!--

  <script src="js/foundation/foundation.js"></script>

  <script src="js/foundation/foundation.alerts.js"></script>

  <script src="js/foundation/foundation.clearing.js"></script>

  <script src="js/foundation/foundation.cookie.js"></script>

  <script src="js/foundation/foundation.dropdown.js"></script>

  <script src="js/foundation/foundation.forms.js"></script>

  <script src="js/foundation/foundation.joyride.js"></script>

  <script src="js/foundation/foundation.magellan.js"></script>

  <script src="js/foundation/foundation.orbit.js"></script>

  <script src="js/foundation/foundation.reveal.js"></script>

  <script src="js/foundation/foundation.section.js"></script>

  <script src="js/foundation/foundation.tooltips.js"></script>

  <script src="js/foundation/foundation.topbar.js"></script>

  <script src="js/foundation/foundation.interchange.js"></script>

  <script src="js/foundation/foundation.placeholder.js"></script>

  <script src="js/foundation/foundation.abide.js"></script>

  -->

  <script>
    $(document).foundation();
  </script>
</body>
</html>

